@import "../../style/mixin.scss";

.section-city{
    
    @include sectionStandart;

}

.section-city__background{

    background: radial-gradient(80.36% 80.36% at 50% 0%, #5A607C 0%, #161B30 100%);

}

.section-city__navigation{

    width: 100%;
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;

}

.section-city__link{

    @include textGenerate;

}

.section-city__arrow{

    width: 25px;
    height: 15px;
    background-color: #8A91AB;
    clip-path: polygon(35% 0, 10% 50%, 36% 100%, 25% 100%, 0% 50%, 25% 0%);

    .section-city__container-navigation:hover &{

        background-color: white;

    }

}

.section-city__container-navigation{

    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover{

        color: white;

    }

}

.section-city__favorites{

    width: 15px;
    height: 20px;
    cursor: pointer;
    mask: url("../../../public/img/Vector.svg") center/100% 100% no-repeat;
    background-color: #8A91AB;
    
}

.favorite{

    background-color: white;

}


.section-city__weather-information{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.section-city__weather-information_name{

    @include textGenerate(clamp(24px,100%,56px), white, 500);

}

.section-city__weather-information_description{

    line-height: 110%;
    text-align: center;
    @include textGenerate(16px, white, 400);

}

.section-city__weather-ico{

    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.section-city__weather-ico_svg{

    width: 190px;
    height: 190px;

}

.section-city__weather-ico_temperature{

    background: linear-gradient(180deg, #FFFFFF 11.65%, rgba(255, 255, 255, 0) 139.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include textGenerate(130px, white, bold);


}

.section-city__weather-ico_barometer{

    width: 24px;
    height: 24px;
    margin-right: 10px;

}

.section-city__weather-information_description-time{

    width: 100%;
    margin-top: 20px;
    text-align: center;
    @include textGenerate;

}

.section-city__load-container{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 200px);

}

.section-city__load-paragraph{

    width: 100%;
    text-align: center;
    @include textGenerate(16px, white, bold);

}