.section-home{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 130px);

}

.section-home__input{

    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 0 20px;
    min-height: 56px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #2A2F45;
    font-family: 'Source Sans Pro', sans-serif;
    width: clamp(100px, calc(100% - 20px), 470px);

}

.container-description{

    width: 250px;
    height: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.sub-container-description{

    height: 60px;
    display: flex;
    align-items: center;
    
}

.container-description__paragraph{
    
    font-size: 16px;
    max-width: 170px;
    color: #8A91AB;
    font-weight: bold;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.container-description__paragraph-description{

    font-size: 16px;
    max-width: 100%;
    margin-top: 40px;
    color: #8A91AB;
    font-weight: bold;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.container-description__link{

    color: white;
    text-decoration: 1.5px underline dotted;

}

.container-description__image{

    margin: 5px;
    width: 24px;
    height: 34px;

}

.container-description__pointer{

    width: 36px;
    height: 25px;
    margin-bottom: 40px;

}

.section-home__input-container{

    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin: 80px 0 40px;
    flex-direction: column;

}

.section-home__towhs{
    width: 100%;
    padding: 10px;
}

.section-home__paragraph-city{

    color: #fff;

}